<nav class="nav justify-content-between bg-success">
  <section class="container d-flex justify-content-between align-items-center">
    <section>
      <span class="text-warning">hello world!</span>
    </section>
    <ng-container>
      <section class="d-flex gap-3">
        <button
          class="btn btn-outline-warning border-2"
          mat-button
          (click)="login()"
        >
          Login
        </button>
        <button class="btn btn-warning" mat-button (click)="register()">
          Join Now
        </button>
      </section>
    </ng-container>
  </section>
</nav>
{{user | json}}