<nav class="nav justify-content-between bg-success">
  <section class="container d-flex justify-content-between align-items-center">
    <section>
      <span class="text-warning school-demo">School Demo</span>
    </section>
    <ng-container *ngIf="user">
      <button class="btn btn-warning" [matMenuTriggerFor]="menu" mat-button>
        <picture>
          <img [src]="user.avatar" alt="" loading="lazy" class="profileImage" />
        </picture>
        {{ user.firstName | titlecase }}
      </button>
      <!-- menu button -->
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="user.roles.isAdmin === false">
          <!-- admin button  -->
          <button mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            <span>Admin Dashboard</span>
          </button>
        </ng-container>
        <ng-container *ngIf="user.roles.isTeacher === false">
          <!-- admin button  -->
          <button mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            <span>Teacher Dashboard</span>
          </button>
        </ng-container>
        <ng-container *ngIf="user.roles.isStudent === false">
          <!-- admin button  -->
          <button mat-menu-item>
            <mat-icon>dashboard</mat-icon>
            <span>Student Dashboard</span>
          </button>
        </ng-container>
        <ng-container *ngIf="user.roles.isVisitor === true">
          <!-- admin button  -->
          <button mat-menu-item>
            <mat-icon>assignment_turned_in</mat-icon>
            <span>Let's Enroll</span>
          </button>
        </ng-container>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <!-- menu button -->
    </ng-container>
    <ng-container *ngIf="!user">
      <section class="d-flex gap-3">
        <button
          class="btn btn-outline-warning border-2"
          mat-button
          (click)="login()"
        >
          Login
        </button>
        <button class="btn btn-warning" mat-button (click)="register()">
          Join Now
        </button>
      </section>
    </ng-container>
  </section>
</nav>
<!-- {{ user.roles | json }} -->
