.nav {
  padding: 10px;
}

.btn {
  padding: 3px 1rem;
  display: flex;
  /* box-shadow: .1rem .1rem .1rem #000; */
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn-warning {
  box-shadow: .1rem .1rem .1rem #000;

}

.btn-outline-warning {
  border: solid;
}

.btn-outline-warning:hover {
  border: solid;
  border-color: #ffc107;
}

.school-demo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: .1rem .1rem .1rem #000;
  user-select: none;
}

.profileImage {
  height: 1.5rem;
  border-radius: 50%;
}

span {
  text-transform: capitalize;
}
