footer {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100vw;

}

hr{
    border: 1px solid;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  user-select: none;

}
